#galeria {
    background-color: #000000;
    padding: 50px 20px;
    text-align: center;
  }
  
  #galeria h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffffff;
  }
  
  .imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 10px;
  }
  
  .imagenes img {
    width: 100%;
    height: 300px; /* Altura fija para mantener el tamaño consistente */
    object-fit: cover; /* Mantiene las proporciones de la imagen sin distorsionarla */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .imagenes img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }